html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
/* END RESET CSS */

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #444;
  /*put default fonts here*/
}
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3, h4, h5, h6 { font-size: 18px; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  
  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
/* END minimal base styles */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;	} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: Dheeraj Sayala
 */

body { 
  text-align: center;
  font-family: ubuntu;
  background: url("/images/body_bg.jpg") repeat fixed 0 0 #515254;
}
#container { 
  width: 900px; margin: 0 auto;
  margin-top: 20px;
  background: url("/images/container_bg.jpg") repeat fixed 0 0 #DDDCDC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 4px 2px 6px rgba(12,12,12, 0.8), -4px -2px 6px rgba(12,12,12, 0.8);
  -moz-box-shadow: 4px 2px 6px rgba(12,12,12, 0.8), -4px -2px 6px rgba(12,12,12, 0.8);
  box-shadow: 4px 2px 6px rgba(12,12,12, 0.8), -4px -2px 6px rgba(12,12,12, 0.8);
}
header { height: 80px;
  padding: 10px;
  color: grey;
  -webkit-box-shadow: 0 2px 2px rgba(80,110,110, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(80,110,110, 0.5);
  box-shadow: 0 2px 2px rgba(80,110,110, 0.5);
}
h1 {
  line-height: 40px;
  font-family: Arial;
  font-size: 30px;
  letter-spacing: 3px;
  color: #777788;
  text-shadow: 1px 1px 2px #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h1:hover { 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  color: #666688;
  text-shadow: 1px 1px 2px #fff;
}

#main { padding: 10px; }

/* Outer boxes */
.outer {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(60, 60, 60, 0.7);
  -moz-box-shadow: 2px 2px 2px rgba(60, 60, 60, 0.7);
  box-shadow: 2px 2px 2px rgba(60, 60, 60, 0.7);
  text-align: center;
}

#question {
  background-color: #87bfd4;
  margin: 40px auto 0 auto;
  width: 450px;
  height: 105px;

}

#synwith {
  color: #6677aa;
  margin: 20px auto 20px auto;
  font-size: 22px;
    
}
.option {
  background-color: lightgreen;

  width: 380px;
  height: 95px;
}
#op1 { float: left; margin-left: 30px; }
#op2 { float: right; margin-right: 30px; }
/* End outer boxes */

/* Inner boxes */
.inner {
  position: relative;
  float: left;
  height: 100%;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px 20px;
  border-radius: 20px 20px;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#question .inner { width: 80%; } 
.option .inner { width: 88%; }

.option .inner:hover {
  cursor: pointer;
  background-color: #87bfd4;
  -webkit-box-shadow: 3px 3px 3px rgba(60, 60, 60, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(60, 60, 60, 0.5);
  box-shadow: 3px 3px 3px rgba(60, 60, 60, 0.5);

  -webkit-transform: scale(1.05) translateX(8px);
  -moz-transform: scale(1.05) translateX(8px);
  transform: scale(1.05) translateX(8px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
/* End Inner boxes */

/* onlyone styling */
.onlyone { 
  position: absolute;
  padding: 2px 0 0 4px;
  height: 70px;
  top: 10px; left: 10px;
}

.inner h2 { 
  line-height: 65px;
  font-size: 40px;
  width: 90%;
  color: #666677;
  text-shadow: 1px 1px 2px rgba(222, 222, 222, 0.6);
  letter-spacing: 2px;
}
#question .inner h2 { font-size: 42px; }
.inner p {
  width: 90%;
  padding: 0 10px;
  line-height: 26px;
  font-size: 16px;
  text-align: left;
  color: #777;
}
.meaning, .usage { display: none; }

/* End onlybox styling */

/* Hint Styling */
.hint {
  float: right;
  height: 50%;
  color: #777777;
  letter-spacing: 1px;
  font-size: 20px; 
  line-height: 50px;
text-shadow: 1px 1px 1px #bbb;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}
.hint1 { 
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
  background-color: rgba(150, 150, 150, 0.2);

}
.hint2 { 
  -webkit-border-radius: 0 0 20px 0;
  -moz-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
  background-color: rgba(150,150,150, 0.4);
}

#question .hint { width: 20%; }
.option .hint { 
  width: 12%; 
  line-height: 40px;
  font-size: 25px;
}

.hint:hover {
  background: transparent;
  font-weight: bold;
  color: grey;
}
/* End Hint Styling */

footer { color: #aaa; 
  padding: 20px;
  margin-top: 100px;
}

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {

}



	



